*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Mac OS X
*.DS_Store

# Android Studio
/app/build/
/build/

# Signing files
*.jks
*.keystore

# NDK
obj/

# IntelliJ
*.iml
.idea/
